<!doctype html>
<html ng-app="taskapp">
<head>
    <meta charset="utf-8">
    <title>TaskAngular</title>
    <link href="~/Content/metro-bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Tasks</h1>
        </div>
        @RenderBody()
    </div>
    <script src="~/Scripts/app/vendor/jquery-1.9.1.js"></script>
    <script src="~/Scripts/app/vendor/bootstrap.js"></script>
    <script src="~/Scripts/app/vendor/angular.js"></script>
    <script src="~/Scripts/app/js/app.js"></script>
    <script src="~/Scripts/app/js/services.js"></script>
    <script src="~/Scripts/app/js/controllers.js"></script>
    <script src="~/Scripts/app/js/filters.js"></script>
    <script src="~/Scripts/app/js/directives.js"></script>
</body>
</html>

